@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');


:root {
    --main-color: #562EFF;
    --primary-color: #000000;
    --main-body-color: #F3F1FF;
    --section-color: #FFFFFF;
    --user-by-color: #9F9F9F;
    --course-author-color:#ED6B4F;
    --course-time-background:#FFE4E8;
    --course-time-color:#FF4A60;
    --course-star-color:#FFC014;
    --course-star-empty-color: #AEAEAE;
    --course-rating-color:#A2A2A2;
    --player-font-size: 18px;
    --main-header-font: 24px;
    --title-font-size: 20px;
    --author-font-size: 16px;
    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}

/* Common Styles or Utilities */
body {
    background-color: var(--main-body-color)
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    font-family: var(--font-poppins);
    background-color: var(--section-color);
    max-width: 870px;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* Top Players Style */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    font-size: var(--main-header-font);
    color: var(--main-color);
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 55px;
    height: 55px;
}

.player-name {
    margin-left: 16px;
    font-size: var(--player-font-size);
}

/* Top Blogs Styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 15px;
}

.blog-title {
    font-size: var(--title-font-size);
    width: 165;
    height: 40px;
}

.blog-author {
    color: var(--user-by-color);
    font-size: var(--author-font-size);
}

.blog-author>a {
    text-decoration: none;
    color: var(--main-color);
}

/* Courses style */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course .course-banner img {
    width: 255px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: var(--course-star-color);
}
.fa-star.empty{
    color: var(--course-star-empty-color);
    opacity: 0.25;
}
.course-duration{
    background-color: var(--course-time-background);
    border-radius: 12px;
    color: var(--course-time-color);
}

/* Media Queries */
/* Mobile Device */
@media only screen and (max-width: 688px) {
    .players, .blogs, .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    .courses{
        justify-items: center;
    }
}